<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">

    <link type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <!--Icon-->
    <link type="image/x-icon" href="/img/favicon.ico" rel="shortcut icon">

    <title>About User</title>
</head>
<style>
</style>
<body>
<div class="container-fluid">

    <!--Header-->
    <div class="row user-header">
        <div class="col">
            <div class="row row-cols-2" id="navbarInfo">
<!--                <div class="col">-->
<!--                    <h5 class="card-header" id="user-panel1"></h5>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="float-end">-->
<!--                        <form th:action="@{/logout}" th:method="POST">-->
<!--                            <input class="btn-exit" type="submit" value="Logout">-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <!--Main-->
    <div class="row">

        <!--Navigation-->
        <div class="col-sm-2 navigation">
            <div class="row">
                <div class="col">
                    <nav class="nav flex-column">
                        <a class="btn btn-link" href="/admin/all_users"
                           sec:authorize="hasAuthority('ROLE_ADMIN')">Admin</a>
                        <a class="btn btn-primary" href="/user/about">User</a>
                    </nav>
                </div>
            </div>
        </div>


        <div class="col-sm-10 bg-grey">
            <div class="row">
                <div class="col">
                    <h1 class="user-information">User information Page</h1>
                </div>
            </div>
            <div class="bg-none">
                <div class="row new-user-lable">
                    <div class="col">
                        <h5 class="h5">About user</h5>
                    </div>
                </div>
                <div class="row my-table">
                    <div class="col">
                        <table class="table caption-top border-top" style="margin-top: 5px">
                            <thead bgcolor="#FFFFFFFF">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Username</th>
                                <th scope="col">Age</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/user.js"></script>
</body>
</html>